/*Card diseño*/
.cardDesign{
    width: 100%;
    height: auto;
    padding: 20px 30px;
}


/*Cards de las unidades*/
.unitCardsContainerFather{
    min-height: 80vh;
    max-height: 200vh;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloSeleccionUnidades{
    width: calc(100% - 70px);
}

@media (max-width: 800px) {
    .tituloSeleccionUnidades{
        margin-top: 5vh;
    }
}

.unitCardsContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
    padding: 30px 150px;
    width: 100%;
    height: auto;
}

.cardUnit{
    height: 160px;
    background-color: #e2e2e2;

    padding: 25px 20px 20px 20px;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    transition: all .2s ease;
    cursor: pointer;
}

#a1{border-bottom: 20px #9BCFB6 solid;}
#a2{border-bottom: 20px #b87c82 solid;}
#a3{border-bottom: 20px #9b719b solid;}
#a4{border-bottom: 20px #da7e74 solid;}
#a5{border-bottom: 20px #b5c1eb solid;}

#a1:hover{
    padding: 10px 20px 20px 20px;
    border-bottom: 40px #335546 solid;}
#a2:hover{
    padding: 10px 20px 20px 20px;
    border-bottom: 40px #643f42 solid;}
#a3:hover{
    padding: 10px 20px 20px 20px;
    border-bottom: 40px #5f405f solid;}
#a4:hover{
    padding: 10px 20px 20px 20px;
    border-bottom: 40px #854e48 solid;}
#a5:hover{
    padding: 10px 20px 20px 20px;
    border-bottom: 40px #2c344d solid;}

@media (max-width: 1200px) {
	.unitCardsContainer{
        gap: 20px;
        padding: 20px 20px 20px 20px;
    }
}

@media (max-width: 800px) {
    .unitCardsContainer{
        gap: 20px;
        padding: 0 20px 20px 20px;
    }

    .cardUnit{
        height: 130px;
        padding: 20px;
        padding: 25px 20px 20px 20px;
    }

    .tituloSeleccionUnidades{
        width: calc(100% - 50px);
    }
    
}