/*Logo del ipn*/
#icoNavIpn{
    width: 80px;
    height: 65px;
    background-image: url('../img/ipn_blanco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#icoNavEscom{
    width: 80px;
    height: 65px;
    background-image: url('../img/escom_blanco.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}