.nav-superior{
    background-color: #698b7b !important;
}

.hidenav-superior{
    background-color: #631b05 !important;
}

.footerDesign{
    border-bottom: #79a08d 30px solid !important;
}

.leftBorder{
    border-left: #7aa38f 10px solid !important;
    transition: all .2s ease;
    font-weight: 600;
}

.leftBorderSecondary{
<<<<<<< HEAD
    border-left: #9BCFB6 10px solid !important;
=======
    border-left: #FF597B 10px solid !important;
>>>>>>> 0d3483b1c81b04bd89ce16869defd034b44ce03d
    transition: all .2s ease;
}

.leftBorder:hover, .leftBorderSecondary:hover{
    background-color: rgb(202, 202, 202);
    border-left: #5c796b 20px solid !important;
}

.leftBorderOn{
    border-left: #5c796b 10px solid !important;
    background-color: rgb(209, 209, 209);
    font-weight: 700;
    transition: all .1s ease;
}

/*Cards de la opciones para el menu*/
.cardOpcionesMenuLateral{
    display: grid;
    grid-template-columns: .5fr 2fr;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 19px 10px;
}

.cardOpcionesMenuLateral i{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardOpcionesMenuLateral p{
    width: 100%;
}

.buttonMenuMobile{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}