<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Página de ejemplo</title>
  <link rel="shortcut icon" href="../static/img/ipn.ico" type="image/x-icon">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/ownStyles.css">

  <!-- Compiled and minified JavaScript -->
  <script defer src="https://code.jquery.com/jquery-3.6.3.min.js"
    integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script defer src="../static/js/activateComponentsMaterialize.js"></script>


</head>

<body>

  <section>

    <nav>
      <div class="nav-wrapper light-blue darken-4">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i
            class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class='btn waves-effect waves-light border_1 white-text blue darken-4' href='#'>Inicio<i class="material-icons right">home</i></a></li>
          <li><a class='btn waves-effect waves-light border_1 white-text blue darken-4' href='#'>Manual de usuario<i class="material-icons right">help</i></a></li>
          <li><a class='dropdown-trigger btn waves-effect waves-light border_1 black-text white' href='#'
              data-target='dropdown1'>Unidades<i class="material-icons right">group_work</i></a></li>
          <!-- Dropdown Structure -->
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="#!" class="black-text">Unidad 1</a></li>
            <li><a href="#!" class="black-text">Unidad 2</a></li>
            <li><a href="#!" class="black-text">Unidad 3</a></li>
            <li><a href="#!" class="black-text">Unidad 4</a></li>
            <li><a href="#!" class="black-text">Unidad 5</a></li>
          </ul>
        </ul>
      </div>
    </nav>

    <ul id="mobile-demo" class="sidenav">
      <li>
        <div class="user-view" style="height: 150px;">
          <div class="background" style="height: 150px;">
            <img src="../static/img/escom_background.jpg" width="100%">
          </div>
          <a href="#"><span class="white-text name">Versión 1.0</span></a>
          <a href="#"><span class="white-text email">Instituto Politécnino Nacional</span></a>
        </div>
      </li>
      <li><a href="#!"><i class="material-icons">home</i>Inicio</a></li>
      <li><a href="#!"><i class="material-icons">menu_book</i>Polilibro</a></li>
      <li><a href="#!"><i class="material-icons">looks_one</i>Unidad 1</a></li>
      <li><a href="#!"><i class="material-icons">looks_two</i>Unidad 2</a></li>
      <li><a href="#!"><i class="material-icons">looks_3</i>Unidad 3</a></li>
      <li><a href="#!"><i class="material-icons">looks_4</i>Unidad 4</a></li>
      <li><a href="#!"><i class="material-icons">looks_5</i>Unidad 5</a></li>
    </ul>

    <!--Menu para los contenidos en tiempo real-->
    <ul id="tabs-swipe-demo" class="tabs light-blue darken-4">
      <li class="tab col s3"><a class="white-text active" href="#test-swipe-1">Bienvenida</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-2">Manual de usuario</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-3">Unidad de competencia</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-4">Metodología</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-5">Evaluación de los aprendizajes</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-6">Contactos</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-7">Requerimientos</a></li>
      <li class="tab col s3"><a class="white-text" href="#test-swipe-8">Fuentes</a></li>
    </ul>
  </section>

  <!--Contenidos principales de la página-->
  <section class="mainContent">
    <div id="test-swipe-1" class="mainTabs col s12 grey blue-grey lighten-5">Test 1</div>
    <div id="test-swipe-2" class="mainTabs col s12 grey blue-grey lighten-5">Test 2</div>
    <div id="test-swipe-3" class="mainTabs col s12 grey blue-grey lighten-5">Test 3</div>
    <div id="test-swipe-4" class="mainTabs col s12 grey blue-grey lighten-5">Test 1</div>
    <div id="test-swipe-5" class="mainTabs col s12 grey blue-grey lighten-5">Test 2</div>
    <div id="test-swipe-6" class="mainTabs col s12 grey blue-grey lighten-5">Test 3</div>
    <div id="test-swipe-7" class="mainTabs col s12 grey blue-grey lighten-5">Test 1</div>
    <div id="test-swipe-8" class="mainTabs col s12 grey blue-grey lighten-5">Test 2</div>
  </section>




</body>

</html>