<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Polilibro</title>
    <link rel="shortcut icon" href="../static/img/ipn.ico" type="image/x-icon">

    <!--Fonts-->
    <link rel="stylesheet" href="../static/fonts/roboto.css">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../static/css/materialize.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/ownStyles.css">

    <!--Componentes personalizados-->
    <link rel="stylesheet" href="../static/css/shadowsCustomized.css">
    <link rel="stylesheet" href="../static/css/bordersCustomized.css">
    <link rel="stylesheet" href="../static/css/scrollBarCustomized.css">
    <link rel="stylesheet" href="../static/css/footerCustomized.css">
    <link rel="stylesheet" href="../static/css/botonPoliLibro.css">
    <link rel="stylesheet" href="../static/css/defaultImage.css">
    <link rel="stylesheet" href="../static/css/textosCustomized.css">
    <link rel="stylesheet" href="../static/css/navCustomized.css">
    <link rel="stylesheet" href="../static/css/tabsCustomized.css">
    <link rel="stylesheet" href="../static/css/cardsCustomized.css">
    <link rel="stylesheet" href="../static/css/manualCustomized.css">

    <!-- Compiled and minified JavaScript -->
    <script defer src="https://code.jquery.com/jquery-3.6.3.min.js"
        integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script defer src="../static/js/activateComponentsMaterialize.js"></script>

    <!--Scripts propios-->
    <script defer src="../static/js/hideSuperiorNav.js"></script>

</head>

<body>

    <section>
        <!--Navbar superior-->
        <div class="nav-superior" id="nav-superior">
            <div id="icoNavIpn"></div>
            <div class="titleNavIpnContainer">
                <p class="titleNavIpn white-text">Polilibro Académico de Finanzas Empresariales</p>
            </div>
            <div id="icoNavEscom"></div>
        </div>
        <div id="expandButton" class="hidenav-superior waves-effect waves-light">
            <i id="expandIcon" class="material-icons white-text">expand_less</i>
        </div>
        <!--Navbar principal-->
        <nav>
            <div class="nav-wrapper light-blue darken-4">
                <a href="/" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i
                        class="material-icons">arrow_back</i></a>
                <a class="brand-logo titleUnity">Manual</a>
            </div>
        </nav>
    </section>


    <section class="blue-grey lighten-4 containerManual">
        <div class="row">
            <div class="col s12 m9 l10">
              <div id="section1" class="section scrollspy">
                <p class="textoTitulo">Seccción 1</p>
                <p class="textoStandar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, impedit architecto? Beatae perferendis ab magni! Iure nulla voluptas velit eligendi minima autem qui laborum. Rem excepturi quam nisi iusto id?
                Enim quas ratione ad vel minima incidunt aliquam molestias doloribus quia fugiat distinctio nemo harum, saepe cupiditate non perspiciatis perferendis eveniet autem. Reprehenderit veritatis assumenda debitis odit inventore distinctio sint.
                Ratione voluptatibus natus soluta vero illo quibusdam consectetur repellat provident quisquam facilis, nesciunt maiores debitis quidem neque fugit. Quo quidem doloribus explicabo eos obcaecati similique sapiente adipisci atque minima? Qui?
                Libero nulla accusantium doloremque eveniet quos sunt laborum sequi possimus placeat quas, facere suscipit nihil consequatur soluta quibusdam accusamus distinctio aliquam molestiae beatae? Aliquam, voluptatum sequi explicabo vitae molestias veritatis.
                Illo, nesciunt. Enim officiis sunt eligendi asperiores repellendus recusandae rem voluptatem suscipit voluptates provident aspernatur mollitia illum in, dolores dolor nostrum consectetur totam doloribus deserunt sit, officia, alias saepe ipsam.
                Ipsa asperiores maiores impedit sed modi, vero incidunt dolorum esse deserunt perspiciatis, quis quae quidem alias repellat? Libero molestiae iusto nam in aspernatur facilis explicabo? Atque recusandae odit nam? Magni!
                Quisquam ullam dicta sint fuga dolore eaque esse, quas est ad illo ex odio, itaque tenetur nesciunt exercitationem molestiae facilis fugiat, quod tempora maiores! Numquam dolorum commodi assumenda asperiores. Repellendus.
                Odio, recusandae. Voluptatibus, illo quasi. Minus consequatur, enim reiciendis labore facere fugit optio quas, perspiciatis vero cumque similique eius incidunt exercitationem tenetur, vitae recusandae ut animi nulla minima dolores excepturi.
                Maiores optio officia quasi, aspernatur perspiciatis quos rerum id minus dolorem nostrum atque sequi sunt suscipit itaque facere ad hic incidunt accusamus quae! Consequuntur amet ut, animi consectetur similique nesciunt!
                Perferendis molestias velit repellat atque nulla distinctio, perspiciatis dolorum officiis repudiandae, ut porro vero obcaecati alias nam dolores voluptate at temporibus! Sint nobis harum sapiente error esse iste temporibus hic! </p>
              </div>
              
              <div class="defaultImage materialboxed">
                <div class="defaultImageContent">
      
                </div>
              </div>

              <div id="section2" class="section scrollspy">
                <p class="textoTitulo">Seccción 2</p>
                <p class="textoStandar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit voluptatem eos accusamus molestias commodi officiis, facilis rem quaerat maxime, nihil iure ut soluta illum modi reprehenderit. Rerum temporibus blanditiis odit?
                Iste quibusdam ad veniam, voluptatibus sit omnis animi magnam voluptas quasi facere similique temporibus commodi, harum iusto dolor voluptates tempora culpa esse dolorum? Doloremque consectetur a magni maxime aliquid sequi.
                Sunt maiores unde ex atque repellendus distinctio rerum ipsa omnis obcaecati? Accusantium architecto incidunt animi error magni odio consequuntur non odit corporis repellat officiis, deserunt, quia dicta sint tempora. Hic.
                Impedit in unde amet quasi iure sit dolores necessitatibus error, expedita eos id magni officia labore aperiam ipsum reprehenderit porro. Natus harum quibusdam dolorem? Doloremque sapiente saepe quisquam voluptate optio.
                Vitae neque minus labore asperiores repellendus quidem veniam eligendi dolorem adipisci eaque temporibus tempora laudantium aliquam quisquam totam tempore, officia expedita? Nam illum explicabo ipsa, vel quibusdam qui? Rerum, sequi.
                At expedita, fugiat delectus ullam deleniti quisquam mollitia aut ea officiis aliquam sequi, sed quo consequuntur quas! Dolore aspernatur nisi amet voluptatem, deserunt in. Minus qui voluptatem culpa dignissimos asperiores?
                Aperiam hic, id sit necessitatibus sapiente officiis voluptates eveniet ad odit sint perferendis accusantium sed dignissimos laudantium animi quos! Corporis eaque velit facilis ratione repellat quaerat impedit eos error tempora.
                Ex illum in et odio consequuntur culpa provident a distinctio dolorem minima totam, facere iste cumque recusandae nesciunt dolores sint fugiat itaque, aliquam eos ullam. Excepturi in exercitationem voluptatibus perferendis?
                Sunt provident aperiam et quidem magni nemo, est odio odit laborum nesciunt perferendis maxime esse perspiciatis, natus expedita fugit cum veniam nulla? Quam sint doloribus voluptatum, voluptate libero architecto laudantium?
                Perspiciatis necessitatibus beatae quidem quae eum. Reprehenderit inventore rerum perferendis similique fugiat sit magnam nihil amet est laboriosam illum voluptatibus blanditiis, deleniti libero ipsam natus? Adipisci ad doloremque qui odio.
                Non, modi. Similique suscipit sint officiis mollitia reprehenderit? Vel sunt tenetur distinctio nesciunt delectus modi fugiat? Rem illo tempora eius doloribus molestias facere tenetur quam, ratione quod aut excepturi commodi.
                Ullam ipsa nostrum accusamus doloribus aliquam exercitationem distinctio, harum architecto nemo fugit consectetur, accusantium eaque debitis officia tempora dolore magni sit, obcaecati aperiam. Iusto minima fugiat iure quam libero rem!
                Tempora, obcaecati fugiat dolorem rerum pariatur adipisci. Necessitatibus nesciunt voluptatum asperiores. Dignissimos, voluptatem. Ex sunt numquam soluta? Quae, nulla maiores distinctio ex quo cum tempore animi, accusantium, esse nostrum quas!
                Nostrum alias vero perferendis placeat quaerat numquam, autem non? Beatae quam facere molestias tempora eligendi dolorum minima qui quia aspernatur, ut repellendus voluptatum accusantium eius consequatur. Fugiat illo commodi adipisci.
                Vel consequatur vitae vero. Sint voluptatum praesentium nihil dolore, quam tenetur doloremque vero cumque cum eveniet sunt a nemo animi reiciendis assumenda commodi obcaecati odit necessitatibus ex similique sapiente. Et.
                Iste maiores quasi veniam, rerum excepturi vel saepe nobis, accusamus expedita animi officiis architecto voluptatem nulla sapiente qui neque fugiat adipisci aliquid soluta. Veritatis sequi et error laborum alias ex?
                Provident autem accusamus exercitationem tempore eos sapiente ipsum nihil distinctio aliquam commodi doloribus neque ipsa voluptate delectus, facilis explicabo. Laboriosam quibusdam repellat perspiciatis minima consequuntur dolorum culpa voluptate obcaecati cumque!
                Deleniti quas necessitatibus laborum illo. Expedita cupiditate voluptates ex laudantium ipsam pariatur consequatur nobis suscipit maiores voluptatem neque hic sunt ad temporibus ut, similique eum officia obcaecati harum? Ipsum, soluta!
                Unde fugiat placeat sequi molestiae omnis. Distinctio in libero sunt ad optio tempore sint nulla quasi excepturi, exercitationem perspiciatis nobis saepe a dicta nisi, et iste ratione placeat facilis officiis?
                Praesentium voluptatem distinctio possimus perferendis maxime sed, ad debitis architecto, harum consectetur obcaecati suscipit cumque aperiam impedit. Ratione, dolorum dignissimos dolore Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum a blanditiis saepe suscipit esse id atque nulla possimus? Alias repellendus repudiandae nostrum deleniti praesentium harum consequatur tempora laudantium, fuga esse!
                Voluptates perspiciatis, amet unde temporibus, id quam facere quod itaque asperiores doloremque explicabo. Cumque distinctio totam nemo magnam odit iure ullam facere odio? Culpa sapiente saepe eum accusamus quisquam aliquid.
                Dignissimos deserunt architecto atque cumque exercitationem accusamus ex est laboriosam laborum sapiente! Expedita accusamus voluptatibus itaque dolorem! Impedit, maxime dolor similique voluptates dolorum itaque, neque animi delectus, corporis quos quae!
                Molestias corrupti quos, facere suscipit expedita dolorem assumenda error voluptate minus commodi veniam aliquam laboriosam quod vero nisi possimus. Rerum quaerat necessitatibus doloremque porro impedit enim voluptatibus quam autem dolores.
                Voluptas ipsa in, quibusdam enim eius non cupiditate ipsam, aperiam, quia quis dolorem dolore accusantium repellendus tenetur animi magni fugit? Exercitationem quos fugit sunt amet qui possimus reprehenderit non accusamus!
                Ab deleniti vero velit perferendis fuga, tempore voluptate esse minima, dolore blanditiis consectetur hic non atque repudiandae, ut ea pariatur enim autem. Fugit laborum vero vel nostrum, ab quo consequuntur.
                Quidem deleniti fuga eum enim soluta quibusdam libero exercitationem ex quam, modi reiciendis, earum nostrum mollitia voluptatibus similique repudiandae. Sequi quasi autem tempore minus? Optio fuga iure est neque totam.
                Ab dolorum unde rerum fugit quisquam harum perspiciatis ex pariatur maxime? Minima delectus cumque quam veniam necessitatibus illum accusantium, amet excepturi? Ipsam nobis blanditiis animi ea, possimus deserunt nesciunt nisi.
                Odit voluptatem enim, eligendi aut sed iusto assumenda, aliquam quis laborum incidunt deserunt, minus id eos! Veritatis quam voluptas eos autem quod, laudantium, aut perferendis aspernatur quibusdam cum et ad?
                Et delectus architecto voluptas, porro ipsum atque temporibus dignissimos aspernatur excepturi quisquam obcaecati a! Ipsam fuga, non optio ipsum perspiciatis enim consectetur voluptate omnis modi. Adipisci vitae vero perspiciatis alias., officia hic laboriosam tempore, molestiae id minima voluptatum iure. </p>
              </div>
        
              <div class="defaultImage materialboxed">
                <div class="defaultImageContent">
      
                </div>
              </div>
              
              <div id="section3" class="section scrollspy">
                <p class="textoTitulo">Seccción 3</p>
                <p class="textoStandar">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque odit, amet eum dignissimos voluptatibus ducimus dolorem deserunt exercitationem quia? Debitis obcaecati omnis sed quaerat perspiciatis blanditiis aliquid quia quibusdam officia.
                Maiores, veritatis! Numquam, laboriosam aperiam. Voluptate neque dignissimos nemo. Iste, consequuntur nisi cupiditate quidem illum modi deleniti neque totam ut molestiae! Expedita maxime praesentium eius dolorum natus dolores aperiam perferendis?
                Neque, rerum. Ut, quo. Suscipit, nam! Nam rem esse minima ullam ipsum quibusdam voluptates odio corporis expedita fugit laboriosam a eligendi, molestias tempora porro libero sed atque quaerat, aut ab?
                Eius molestiae ex quaerat magnam sed maiores distinctio ipsum quos ad omnis rerum voluptatum porro consectetur beatae obcaecati voluptas vitae, nulla cum suscipit ullam. Atque dignissimos aliquid libero vitae ipsum.
                Laborum laudantium nemo quasi repellendus ipsa perspiciatis voluptate fugit, eum exercitationem mollitia est eligendi? Consectetur eligendi, at quia amet odit dolorem atque cupiditate distinctio, velit incidunt veritatis aut, similique praesentium.
                Ab dolores, nobis culpa autem mollitia maxime tempore non dolor reiciendis, exercitationem ipsum quo natus fuga excepturi ipsam ipsa iusto tenetur eligendi ratione sit voluptates, possimus ullam facilis. Odit, animi.
                Incidunt omnis dignissimos amet asperiores quaerat quibusdam, nulla, animi ratione eaque ab pariatur aut tempore necessitatibus. Iste, cumque blanditiis quia vel id vero soluta eos rem. Cum eos rerum quod!
                Consequatu Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat eligendi natus iusto provident iure reprehenderit nisi saepe molestias distinctio, quis totam assumenda! Perferendis dolor dicta error quae ut blanditiis omnis!
                Dolores modi animi accusamus nesciunt. Voluptas neque dolorem eveniet laborum nesciunt, hic minima, dolore enim in ipsum veritatis corporis doloribus earum tenetur cumque. Autem, animi reiciendis. Mollitia distinctio dolor corporis.
                Iure recusandae ex dicta dolore, optio asperiores, aliquid, cumque numquam ullam assumenda quasi non error neque quis eius? Distinctio recusandae deserunt voluptatum ad nihil esse veritatis iusto voluptates harum perspiciatis?
                Provident facilis minus beatae numquam a tempore dignissimos illum, doloribus deleniti ullam, corrupti doloremque dicta omnis, quos saepe vel iusto est! Placeat numquam recusandae saepe velit officiis eum eligendi impedit?
                Dolor eveniet inventore iure corporis consequatur minus assumenda in velit nobis quos officia, earum repudiandae voluptatibus suscipit vel pariatur. Esse consequuntur et omnis atque ea voluptates mollitia voluptatum sunt alias.
                Sapiente explicabo iste quo quasi, laudantium a natus. Debitis excepturi molestias ea est quos vel dolorem, similique placeat, aspernatur doloremque rerum distinctio nemo sit! Sint reiciendis repudiandae suscipit earum quod?
                Quae pariatur voluptates perspiciatis, temporibus quia iure amet, suscipit debitis perferendis dolores reiciendis deserunt dolore porro officia dicta. Atque sed voluptatum est error corporis, consequatur sunt perferendis odio ratione voluptatibus.
                Sequi quis voluptas autem ipsam voluptatem! Ipsam illo magnam maxime praesentium quibusdam officia architecto saepe enim necessitatibus. Quia, minima vel. Eligendi, blanditiis ea. Sed commodi ipsa magni illum autem dolorem!
                Cumque saepe minima doloremque nobis ipsam fugiat ea quidem totam, repudiandae at placeat blanditiis debitis ratione culpa error, aspernatur eum voluptate accusantium. Suscipit perferendis blanditiis provident veniam debitis, praesentium at!
                Omnis eum magni non provident sapiente quam nam maiores veritatis unde delectus quo qui hic, ullam rerum deleniti sit numquam architecto iure, nobis aperiam facilis repudiandae quaerat? Repellat, sequi maxime.
                Sed ipsum inventore dolorum dolor suscipit earum optio, libero unde recusandae doloribus repudiandae at voluptatum quam ad ut! Repellat dolorum nihil pariatur, velit provident repellendus dolore? Temporibus voluptates officiis similique?
                Quos nobis ex natus cumque, itaque incidunt ullam corporis quas fugiat ea vel hic libero ducimus dolorum necessitatibus. Pariatur necessitatibus dolores quibusdam quo possimus, error recusandae ducimus tempora fuga ea.
                Error dicta inventore qui laudantium minima libero quibusdam, blanditiis, at veritatis ipsa similique perferendis a et adipisci cum fuga laborum ad consequatur esse reprehenderit illum animi! Repudiandae ut error doloribus.
                Sed quisquam nesciunt, debitis commodi itaque distinctio tenetur laboriosam perspiciatis ex ut dignissimos, sequi natus tempora error assumenda sit beatae suscipit totam nulla impedit. Rerum laboriosam quidem eos vel dolore!
                Voluptas obcaecati eius, aspernatur soluta nulla possimus fugiat atque exercitationem temporibus eveniet architecto quia voluptates repellendus culpa, et necessitatibus libero quidem tenetur, cumque neque nisi esse delectus officiis eaque? Possimus.
                Laborum laudantium ea amet nemo, velit tempore odio labore veniam, inventore rem recusandae exercitationem qui dolorum iure obcaecati ut. Voluptas repellat ex nam necessitatibus nemo voluptate iure fugiat, laboriosam nesciunt.
                Nisi aut quis laudantium consectetur eligendi architecto eum ducimus sequi unde tempore, illum quo saepe ullam odio voluptate culpa dicta corrupti similique. Accusantium consectetur molestiae voluptatum! Magnam fugit dolor at!
                Adipisci reprehenderit vero culpa corporis pariatur dolorum in quae necessitatibus hic praesentium vel, suscipit quisquam, officia distinctio doloremque libero ex doloribus molestias asperiores ab? Aliquid quam corrupti dicta dolor aliquam.
                Quasi aspernatur, dolores adipisci natus explicabo repellendus ratione aperiam molestias tempore, sint neque veniam sequi, harum impedit! Quasi, aut, suscipit amet, sit odit saepe illum dolorum officiis odio fugiat repudiandae.
                Esse alias velit id ad accusamus, suscipit repellendus deleniti quaerat dicta sit, similique eos! Eaque, fugit deserunt fuga laborum, similique non ipsa perspiciatis fugiat voluptates cumque quisquam, veritatis quia eveniet? r tempora eos rem eius labore repellendus soluta delectus ab expedita eveniet dolore fugit ducimus ullam sapiente, vero ipsam magni ad, impedit omnis veniam dicta optio? Eligendi facere necessitatibus quasi.
                Doloremque id nesciunt natus accusantium porro omnis quaerat earum ipsum iste asperiores exercitationem optio quae, architecto praesentium inventore necessitatibus veniam quod distinctio dicta quidem delectus. Ullam necessitatibus architecto repellat exercitationem.
                Officia repudiandae quia in voluptatibus molestiae incidunt nisi similique alias tenetur inventore eaque autem, eius iure quis rem quaerat vel sunt fugit hic et magnam voluptatem sequi animi facere! Est. </p>
              </div>
            </div>
            <div class="col hide-on-small-only m3 l2">
              <ul class="section table-of-contents tabsFixed sectionPanelManual">
                <li><a href="#section1" class="textoStandar black-text">Section 1</a></li>
                <li><a href="#section2" class="textoStandar black-text">Section 2</a></li>
                <li><a href="#section3" class="textoStandar black-text">Section 3</a></li>
              </ul>
            </div>
          </div>
    </section>
    <a href="#" data-target="slide-out" class="border5 shadow2 white-text waves-effect waves-light light-blue darken-4 buttonMenuMobile sidenav-trigger"><i class="material-icons">download</i></a>
    

    <footer class="footerDesign blue-grey lighten-3">
        <div class="footerContainerOne">
            <p class="textoFooter">
                Recurso Didáctico Digital Unidad X: métodos de evaluación de proyectos de inversión de la UA Finanzas
                Empresariales por M. en A. Eduardo Rodríguez Flores, M. en C. Josefina Hernández Jaime & Dra. Yasmín
                Ivette
                Jiménez Galán se distribuye bajo una Licencia Creative Commons Atribución-NoComercial-CompartirIgual 4.0
                Internacional.
            </p>
            <a href="https://link_ejemplo_pagina"
                class="footerLink textoFooter blue-grey lighten-4 shadow2 border1 blue-text text-darken-2">
                Repositorio de la obra https://link_ejemplo_pagina.
            </a>
            <div class="iconCreativeContainer">
                <div class="iconCreative"></div>
            </div>
        </div>
        <div class="footerContainerTwo">
            <a class='btn waves-effect waves-light border1 white-text blue-grey darken-4' href='#!'>Manual<i
                    class="material-icons right">help</i></a>
            <a class='btn waves-effect waves-light border1 white-text blue-grey darken-4' href='#!'>Requerimientos<i
                    class="material-icons right">build</i></a>
            <a class='btn waves-effect waves-light border1 white-text blue-grey darken-4' href='#!'>Contacto<i
                    class="material-icons right">alternate_email</i></a>
        </div>
    </footer>



</body>

</html>